@font-face {
    font-family: 'sketchup';
    src: url('SketchupFreeTrial-gxmj5.otf');
}

html, body {
    --size: 200px;
    --font: 10px;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--font);
    background-image: url('vecteezy_drawing-cartoon-art-of-bright-wood-texture-pattern-landscape_18735545.jpg');
    background-size: cover;
}

.header {
    padding: 12px;
    font-family: 'sketchup';
    font-size: 8rem;
    font-style: oblique;
    font-weight: 100;
    color: rgb(50, 26, 26);
}

.announcement {
    height: calc(var(--size) / 3);
    padding: 24px;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: rgb(225, 227, 203);
    font-weight: 800;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, var(--size));
}

.square {
    width: var(--size);
    height: var(--size);
    outline: 6px;
    outline-style: solid;
    outline-color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'sketchup';
    font-size: 16rem;
    background-color: rgb(225, 227, 203);
}

.x {
    color: blue;
}

.o {
    color: yellow;
}

.new-game {
    margin: 12px;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 2rem;
    font-weight: 800;
    color: rgb(50, 26, 26);
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    background-color: rgb(225, 227, 203);
}

.new-game:hover {
    background-color: rgb(205, 206, 182);
}

.new-game:active {
    background-color: rgb(225, 227, 203);
}

button {
    cursor: pointer;
}

.winner {
    background-color: rgb(98, 228, 98);
}

.loser {
    background-color: rgb(233, 65, 65);
}

input[readonly] {
    color: gray;
}

@media only screen and (max-width: 600px) {
    html, body {
        --size: 100px;
        --font: 6px;
    }
}
